<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="false">

    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- Override database config for testing -->
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>

</phpunit>